
   .latest{
background-color: rgb(0, 0, 0);
  } 
  .effect :hover{
/* background-color: #405DE6,#F77737,#FCAF45; */
/* border-radius: 50%; */
transition: all 2s;
transform: scale(1.0.5); 
  }
 .latest-img{
    opacity: 0.8;
  }

  img{
      opacity: 0.7;
  
  }

  